body {
    background-color: #000000;
  }

  #dot {
    height: 100px;
    width: 100px;
    background-color: rgb(37, 141, 118);
    border-radius: 50%;
    display: inline-block;
    scale: 100%;
    transition: scale 0.01s;
  }

.spark {
    background-color: #DE4A00;
    font-family: 'Helvetica', sans-serif;
    visibility: hidden;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 30%;
    box-shadow: 0 0 10px rgb(171, 0, 11);
}

canvas {
    visibility: hidden;
}

#heart{
    position: absolute;
    padding-top: 10%;
}
i{
    color: #000;
    font-size:300px;
    text-shadow:0 0 20px rgb(222, 74, 0, 0.4), 0 0 90px rgb(171, 0, 11);
}

/* 
.heart{
    height: 70px;
    width: 70px;
    background: #AB000B;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #DE4A00 ;
    animation: heart 0.6s linear infinite;
}

.heart:before{
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #AB000B;
    top: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #DE4A00;
}

.heart:after{
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #AB000B;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #DE4A00;
}
 */
 /* #heart {
    fill: red;
    position: relative;
    top: 0%;
    width: 200px;
    scale: 100%;
    transition: scale 0.01s;
    animation: pulse 1s ease infinite;
  }

  svg {
    filter: drop-shadow(0px 0px 90px rgb(171, 0, 11));
  } */

 